<footer class="mastfoot mt-auto">
    <div class="container">
        Footer
    </div>
</footer>
</div>
</body>
<script type="text/javascript " src="/dist/js/api.js"></script>
<script type="text/javascript " src="/dist/js/jquery.js"></script>
<script type="text/javascript " src="/dist/js/popper.js" crossorigin="anonymous"></script>
<script type="text/javascript " src="/dist/js/popper.js.map" crossorigin="anonymous"></script>
<script type="text/javascript " src="/dist/js/popper.min.js.map" crossorigin="anonymous"></script>
<script type="text/javascript " src="/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script type="text/javascript " src="/dist/js/bootstrap.min.js.map" crossorigin="anonymous"></script>
<script type="text/javascript " src="/dist/js/axios.min.js" crossorigin="anonymous "></script>
<script type="text/javascript " src="/dist/js/util.js" crossorigin="anonymous "></script>
<script>
</script>
<script>
    window.addEventListener("load", function(event) {
        <% if(retorno.msg != ''){%>
        $('#msgErro').modal('show')

        <%}%>

    });
</script>

</html>