<header class="masthead mb-auto">
    <div class="inner">
        <h1 class="masthead-brand">Tek Projetos</1>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="/projetos">Projetos</a>
                <a class="nav-link" href="/modulos">Módulos</a>
            </nav>
    </div>
</header>