<%- include('partials/head')  %>
    <%- include('partials/header')  %>

        <main role="main" class="">
            <div class="container">
                Centro
            </div>
        </main>

        <%- include('partials/footer') %>